<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Hello! Looking for help with a print project or a web project?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Print and Production</h4>
                    <p class="text-muted">Already have a designed project and need to hand it off to get bids, printing and finishing? I can manage your project. Or want to know more? See my prepress class materials</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-image-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design and Illustration</h4>
                    <p class="text-muted">Need help from the concept phase? I can help design and implement your project from start to print and beyond.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Design</h4>
                    <p class="text-muted">Want a site designed for web and mobile?</p>
                </div>
            </div>
        </div>
    </section>